.footer {
  border-top: 1px solid #eaeaea;
  text-align: center;
  padding-block: 0.2em 0.8em;

  img {
    position: relative;
  }

  p {
    margin: 0;
  }
}

.vercel img {
  height: 1em;
  top: 3px;
  margin-inline: 0 0.2rem;
}

.yelp img {
  height: 1.8em;
  top: 6px;
}