.navbar {
  background-color: rgb(254, 220, 123);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin-inline: auto;
  }

  h1 {
    text-transform: lowercase;
    margin: 0;
    position: relative;
    top: -2px;
  }

  ul {
    margin: 0 1em 0 0;
    padding: 0;
    display: inline-flex;
    list-style-type: none;
  }

  a {
    margin-left: 1em;
    padding: 0.2em 0.5em;
    border: 1px solid transparent;
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 700;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
}

.navbar a:hover, .navbar a:focus {
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 242, 205, 1);
}

.navbar a.active {
  background-color: rgba(255, 242, 205, 0.6);
}
